{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'Libs/css/dashboard.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% include 'navbarCliente.html' %}
  {% block extra_css_nivel %}
  {% endblock %}
  {% block contenedor %}
    <div class="cuadrado-background">
      <h1>¡Bienvenido {{ user }}!</h1>
      <h5>Mutual asociada: {{ rol.cliente.mutual }}</h5>
      <h5>Ultima conexion: {{ ultimaSession }}</h5>
    </div>
  {% endblock %}

{% endblock %}