{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd; height: 60px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
        <img src = "{% static 'images/escudo.ico' %}" alt="Logo" width="23" height="25" class="d-inline-block align-text-top">
        DGC
      </a>

      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="dropdown-item" href="{% url 'mutual:detalles_mimutual' %}">Mutual</a>
        </li>
      </ul>


    {% comment %} <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> {% endcomment %}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          {% comment %} <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mutual</a> {% endcomment %}
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'mutual:detalles_mimutual' %}">Mi mutual</a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Declaración Jurada</a>
          <ul class="dropdown-menu">

            <li>
              <a class="dropdown-item" href="{% url 'mutual:declaracion_jurada' %}">Declarar</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'mutual:historico' %}">Historico</a>
              </li>
          </ul>
        </li>
      </ul>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
          <span class="bi bi-person"></span> Hola, {{user}}
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">

          <li><a class="dropdown-item" href="#">Ver perfil</a></li>
          <li><a class="dropdown-item" href="#">Editar perfil</a></li>
          <li><a class="dropdown-item" href="{% url 'users:cerrar_session' %}" >Cerrar Sesión</a></li>

        </ul>
      </div>

    </div>
  </div>
</nav>

 {% include 'message.html' %}
