{% extends 'nav_bar.html' %}


{% block opcion_mutual %}
<li>
  <a class="dropdown-item" href="{% url 'mutual:detalles_mimutual' %}">Mi Mutual</a>
</li>
{% endblock %}

{% block opcion_declaracion_jurada %}
<li>
  <a class="dropdown-item" href="{% url 'mutual:declaracion_jurada' accion='declaracion' %}">Crear Nueva Declaración</a>
</li>
<li>
  <a class="dropdown-item" href="{% url 'mutual:historico' %}">Histórico</a>
  </li>
{% endblock %}
{% block opcion_ayuda %}
<li>
  <a class="dropdown-item" href="{% url 'pdf_manual_mutual' %}" target="_blank">Manual</a>
</li>
{% endblock %}

