{% extends 'navbarEmpleadoPublico.html' %}


{% block dropdown_adicional %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuarios</a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url 'mutual:detalles_mimutual' %}">Buscar</a>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'mutual:detalles_mimutual' %}">Crear Nuevo Usuario</a>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'mutual:detalles_mimutual' %}">Listado de Usuarios</a>
    </li>
  </ul>
</li>
{% endblock %}
