{% extends 'navbarEmpleadoPublico.html' %}


{% block dropdown_adicional %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuarios</a>
  <ul class="dropdown-menu">
    <li>
    </li>
    <li>
      <a class="dropdown-item" href="{% url 'users:menu_user' %}">Crear</a>
    </li>
    <li>
      <a class="dropdown-item" href={% url 'users:usuarios_listado' %}>Listado de Usuarios</a>
    </li>
  </ul>
</li>

{% endblock %}

{% block opcion_ayuda %}
<li>
  <a class="dropdown-item" href="{% url 'pdf_manual_administrador' %}" target="_blank">Manual</a>
</li>
{% endblock %}