{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
  <style>
    .detalle {
        list-style: none;
        padding: 0;
    }

    .detalle li strong {
        display: inline-block;
        width: 140px; /* Ajusta el ancho según sea necesario */
    }
</style>
{% endblock %}

{% block contenedor %}
  <div class="container cuadrado-background animate__animated animate__fadeIn">
    <h4 class="text-center">{{ dj.mutual }}</h4>
    
    <br />
    <ul class="detalle">
      <li><strong>Periodo:</strong> {{ dj.periodo.obtener_nombre_mes }}</li>
    </ul>
    
    <br />
    <h4>Prestamo</h4>
    <ul class="detalle">
      {% if d_prestamo %}
      <li><strong>Archivo:</strong> {{ d_prestamo.archivo.name }}</li>
      <li><strong>N° registros:</strong> {{ d_prestamo.total_registros }}</li>
      <li><strong>Total:</strong> ${{ d_prestamo.importe }}</li>
      {% else %}
      <li><strong>Archivo:</strong> No se ha cargado ningun archivo</li>
      <li><strong>N° registros:</strong> 0</li>
      <li><strong>Total:</strong> $0</li>      
      {% endif %}
    </ul>


    <br />
    <h4>Reclamo</h4>
    <ul class="detalle">
      {% if d_reclamo %}
      <li><strong>Archivo:</strong> {{ d_reclamo.archivo }}</li>
      <li><strong>N° registros:</strong> {{ d_reclamo.total_registros }}</li>
      <li><strong>Total:</strong> ${{ d_reclamo.importe }}</li>
      {% else %}
      <li><strong>Archivo:</strong> No se ha cargado ningun archivo</li>
      <li><strong>N° registros:</strong> 0</li>
      <li><strong>Total:</strong> $0</li>      
      {% endif %}
    </ul>
    <form method="post" class="text-center">
      <br />
      <p><strong> Posees una borrador de Declaracion Jurada generada el {{dj.fecha_creacion}}, realice una accion </strong> </p>
      <br />
      {% csrf_token %}
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6">
          <button class="btn btn-danger btn-block btn-sm" type="submit" name="cancelar" value="no">Eliminar borrador </button>
        </div>
        <div class="col-12 col-sm-6 mt-2 mt-sm-0">
          <button class="btn btn-success btn-block btn-sm" type="submit" name="confirmacion" value="si">Confirmar</button>
        </div>
      </div>
    </form>

  </div>
{% endblock %}
