{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}
  {% comment %}Preguinto si ya existe un prestamo previamente{% endcomment %}
  {% comment %} {% if existe_prestamo %}
    {% if prestamo_leido %}
      <p> Y ESE PRESTAMO HA SIDO LEIDO</p>
    {% endif %}
  {% endif %}
   {% endcomment %}

  <div class="container cuadrado-background">
    <p>Mutual: {{dj.mutual}} </p>
    <h5> Prestamo </h5>
    <p> Importe: {{detalle_prestamo.importe}}</p>
    <p>Archivo: {{detalle_prestamo.archivo}}</p>
    <p>registros: {{detalle_prestamo.total_registros}}</p>
    {% comment %} <p>{{detalle_prestamo.}}</p> {% endcomment %}

    <h5> Reclamo </h5>
    <p> Importe: {{detalle_reclamo.importe}}</p>
    <p>Archivo: {{detalle_reclamo.archivo}}</p>
    <p>registros: {{detalle_reclamo.total_registros}}</p>
    {% comment %} <p>{{detalle_prestamo.}}</p> {% endcomment %}

    <h3>¿desdeas subir la declaracion jurada?</h3>
    <form  method="post">
        {% csrf_token %}
        <button class="btn btn-danger" name="cancelar" value="no">cancelar</button>
        <button class="btn btn-success"  type="submit" name="confirmacion" value="si">si</button>
        
    </form>

  
  {% endblock %}