{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}
  <div class="container cuadrado-background animate__animated animate__fadeIn">
    <h2 class="text-center">Mutual</h2>
    <hr>
    <div class="row">
      <div class="col-md-4 col-sm-5">Mutual:</div>
      <div class="col-md-8 col-sm-12 negrita">{{ mimutual.nombre }}</div>
    </div>
    
    <div class="row">
      <div class="col-md-4 col-sm-5">Cuit:</div>
      <div class="col-6 col-md-8">{{ mimutual.cuit }}</div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-5">Estado:</div>
      <div class="col-6 col-md-8">
        {% if mimutual.activo %}
        Activo
        {% else %}
        Inactivo
        {% endif %}
      </div>
    </div>
    
    <br>
      <h4>Archivos asociados</h4>
      {% for detalle in mimutual.detalle.all %}
      {% if detalle.origen != "*" and detalle.concepto_1 != 1 %}
      <h5>{{ detalle.get_tipo_display|capfirst }}</h5>
      <div class="row">
        <div class="col-md-4 col-sm-5">Origen:</div>
        <div class="col-6 col-md-8">{{ detalle.origen }}.txt</div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-5">Destino:</div>
        <div class="col-6 col-md-8">{{ detalle.destino }}.txt</div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-6">Concepto:</div>
        <div class="col-6 col-md-8">{{ detalle.concepto_1 }}</div>
      </div>

      {% if detalle.concepto_2 is not None and detalle.concepto_2 != 0 %}
      <div class="row">
        <div class="col-md-4 col-sm-5">Concepto:</div>
        <div class="col-6 col-md-8">{{ detalle.concepto_2 }}</div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
