<!-- Modal -->
<div class="modal fade" id="modalDetalle_{{ declaracion.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">{{declaracion.mutual}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body" style="text-align: left;">
            {% for detalle in declaracion.detalles.all %}

                <h5 class="detalle-tipo">
                    {% if detalle.tipo == 'P' %}Prestamo
                    {% else %}Reclamo
                    {% endif %}
                </h5>

                <div class="detalle-prestamo">
                    <ul class="detalle-lista">
                        <li>
                            {% comment %} Importe: ${{ detalle.importe }} {% endcomment %}
                            Importe: ${{ detalle.obtenerImporteConMillares }}
                        </li>
                        <li>
                            Registros: {{ detalle.total_registros }}
                        </li>
                        <li>
                          Concepto: {{ detalle.concepto }}
                      </li>
                    </ul>
                    <a class="btn" href="{% url 'mutual:descargarArchivo' detalle.pk %}"><i class="fa-solid fa-download"></i> Descargar</a>
                </div>
                <hr>
            {% endfor %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>
