{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}

{% if ha_cargado_prestamo %}
    <p>La mutual ya ha cargado un préstamo anteriormente.</p>
{% else %}
    <p>La mutual no ha cargado ningún préstamo anteriormente.</p>
{% endif %}

  <div class="container cuadrado-background">
    <h1 class="text-center">{{ titulo }}</h1>
    <p> 
      <strong>
        Mutual: 
      </strong>
      {{ mutual }}
    </p>

    <p> 
      <strong>
        Periodo: 
      </strong>
      {{ periodo }}
    </p>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="mb-3">
        <label for="{{ form.archivos.id_for_label }}" class="form-label">Archivo</label>
        <input class="form-control" type="file" id="{{ form.archivos.id_for_label }}" name="{{ form.archivos.name }}">
      </div>
      <br>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Declarar</button>
      </div>
    </form>
  </div>
{% endblock %}