{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}

  <!-- Modal para prestamo no leído -->
  {% comment %} [implementado] {% endcomment %}
  <div class="modal fade" id="modalNoLeido" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Información</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Ya se ha generado un archivo de prestamo previamente. ¿Desea reemplazar dicho archivo?
        </div>
        <div class="modal-footer">
          <a href="{% url 'dashboard' %}" class="btn btn-primary">Salir</a>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Reemplazar</button>
        </div>
      </div>
    </div>
  </div>


  {% comment %} FALTA CONFITURAR {% endcomment %}
<!-- Modal para prestamo leído -->
<div class="modal" id="modalLeido" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Y ESE PRESTAMO HA SIDO LEÍDO</p>
      </div>
      <div class="modal-footer">
        <!-- Puedes agregar botones adicionales o acciones aquí si es necesario -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>



{% comment %} FORMULARIO PARA DAR DE ALTA UNA DECLARACION JURADA EN CASO DE NO SER LEIDA{% endcomment %}
<div class="cuadrado-background">
    <h2 class="text-center">{{ titulo }}</h2>
    <br />
    <div class="row">
      <div class="col-md-4 col-sm-5 negrita">Mutual:</div>
      <div class="col-md-8 col-sm-12">{{ mutual }}</div>
      <br>
    </div>
    <div class="row">
      <p>
      <div class="col-md-4 col-sm-5 negrita">Periodo:</div>
      <div class="col-md-8 col-sm-12">{{ periodoActual.mes_anio|date:'Y/m/d' }}</div>
      </p>
    </div>

    <form method="post" enctype="multipart/form-data" id="declaracionForm">
      {% csrf_token %}

      <div class="mb-3">
          <h5>Prestamo</h5>
          <input class="form-control" type="file" name="{{ form.archivo_p.name }}" id="{{ form.archivo_p.id_for_label }}" />
        </div>
  
      <div class="mb-3">
          <h5>Reclamo</h5>
          <input class="form-control" type="file" name="{{ form.archivo_r.name }}" id="{{ form.archivo_r.id_for_label }}" />
        </div>
      <br />
      <div class="text-center"> 
        <button type="submit" class="btn btn-success" name="cargarDeclaracion" id="declararBtn" disabled>
            Cargar Declaracion
            <span class="spinner" style="display:none;">
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span class="visually-hidden" role="status">Cargando...</span>
            </span>
        </button>
    </div>
      
  </form>
  

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    // Activar el botón cuando se carguen ambos archivos
// Activar el botón cuando se carguen ambos archivos
$(document).ready(function() {
  $('#{{ form.archivo_p.id_for_label }}').on('change', function() {
      var archivoP = $(this);
      var archivoR = $('#{{ form.archivo_r.id_for_label }}');
      var declararBtn = $('#declararBtn');

      if (archivoP.val() || archivoR.val()) {
          declararBtn.prop('disabled', false);
      } else {
          declararBtn.prop('disabled', true);
      }
  });

  $('#{{ form.archivo_r.id_for_label }}').on('change', function() {
      var archivoP = $('#{{ form.archivo_p.id_for_label }}');
      var archivoR = $(this);
      var declararBtn = $('#declararBtn');

      if (archivoP.val() || archivoR.val()) {
          declararBtn.prop('disabled', false);
      } else {
          declararBtn.prop('disabled', true);
      }
  });
});

    document.addEventListener('DOMContentLoaded', function () {
        // Agrega un escucha de evento de clic al botón "Cargar Declaracion"
        document.getElementById('declararBtn').addEventListener('click', function () {
            // Deshabilita el botón para evitar clics múltiples
            this.disabled = true;
            
            // Muestra el spinner
            this.querySelector('.spinner').style.display = 'inline-block';

            // Envía el formulario
            document.getElementById('declaracionForm').submit();
        });
    });
</script>
  {% endblock %}
