{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}
  {% comment %}Preguinto si ya existe un prestamo previamente{% endcomment %}
  {% if existe_prestamo %}
    {% if prestamo_leido %}
      <p> Y ESE PRESTAMO HA SIDO LEIDO</p>
    {% endif %}
  {% endif %}
  

  <!-- Modal para prestamo no leído -->
  {% comment %} [implementado] {% endcomment %}
  <div class="modal fade" id="modalNoLeido" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Información</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Ya se ha generado un archivo de prestamo previamente. ¿Desea reemplazar dicho archivo?
        </div>
        <div class="modal-footer">
          <a href="{% url 'dashboard' %}" class="btn btn-primary">Salir</a>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Reemplazar</button>
        </div>
      </div>
    </div>
  </div>


  {% comment %} FALTA CONFITURAR {% endcomment %}
<!-- Modal para prestamo leído -->
<div class="modal" id="modalLeido" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Información</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Y ESE PRESTAMO HA SIDO LEÍDO</p>
      </div>
      <div class="modal-footer">
        <!-- Puedes agregar botones adicionales o acciones aquí si es necesario -->
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

  <div class="container cuadrado-background">
    <h1 class="text-center">{{ titulo }}</h1>
    <p>
      <strong>Mutual:</strong>
      {{ mutual }}
    </p>

    <p>
      <strong>Periodo:</strong>
      {{ periodo }}
    </p>

    <form method="post" enctype="multipart/form-data" id="declaracionForm">
      {% csrf_token %}
  
      <div class="mb-3">
          <label for="{{ form.archivos.id_for_label }}" class="form-label">Archivo</label>
          <input class="form-control" type="file" id="{{ form.archivos.id_for_label }}" name="{{ form.archivos.name }}" />
      </div>
      <br />
      <div class="text-center">
          <button type="submit" class="btn btn-success" id="declararBtn" disabled>Declarar</button>
      </div>
  </form>
  </div>


  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script>
    // Activa el modal correspondiente según las condiciones
    $(document).ready(function() {
      {% if existe_prestamo %}
        {% if prestamo_leido %}
          $('#modalLeido').modal('show');
        {% else %}
          $('#modalNoLeido').modal('show');
        {% endif %}
      {% endif %}

        // Habilitar o deshabilitar el botón según si se ha cargado un archivo
        $('#{{ form.archivos.id_for_label }}').on('change', function() {
          var fileInput = $(this);
          var declararBtn = $('#declararBtn');

          if (fileInput.val()) {
              declararBtn.prop('disabled', false);
          } else {
              declararBtn.prop('disabled', true);
          }
      });

    });
  </script>

{% endblock %}
