{% extends 'dashboardEmpleadoPublico.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/dj_declarados_list.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}
<div class=" container cuadrado-background">

  <h3 class="text-center">{{ titulo }}</h3>
  <br>


  <form method="get" class="mb-7">
    {% csrf_token %}

    <div class="row g-7">
        <div class="col-md-3">
          <label class="form-label negrita">Mutual:</label>
          <select name="enc_cliente" id="enc_cliente">
            <option value="0"> Todas las mutuales </option>
            {% for mutual in mutuales %}
              <option value="{{mutual.id}}">{{mutual.nombre}} </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-3 ">
            <label for="{{ filter_form.periodo.id_for_label }}" class="form-label negrita">Periodo:</label>
            {{ filter_form.periodo }}
          </div>
          
          <div class="col mb-2">
          <button type="submit" class="btn btn-primary btn-sm btn-detalle">
            <i class="fa-solid fa-filter"></i>
            Filtrar</button>
        </div>
    </div>
  </form>

<hr>
  
<form method="post" action="{% url 'mutual:leer_declaracion_jurada' %}" class="mb-3" id="miFormulario">
  {% csrf_token %}
    <div class=" table-responsive">
      <table class="table table-sm  table-striped table-hover ">
        <thead>
          <tr>
            <th>#</th>
            <th>Período</th>
            <th>Mutual</th>
            <th>Fecha lectura</th>
            <th class="text-center">Rectificativa</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for declaracion in page_obj %}
          <tr>
            <td class="negrita"> {{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td> {{ declaracion.periodo.mes_anio|date:'Y/m' }}</td>
            <td> {{ declaracion.mutual }}</td>
            <td> {{ declaracion.fecha_lectura }}</td>
            <td class="text-center"> {{ declaracion.rectificativa }}</td>
            
            <td class="text-end">
              <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalDetalle_{{declaracion.pk}}">
                <i class="fa-regular fa-eye"></i> ver
              </button>
              {% include "detalle_declaracion_jurada.html" %}
              <a class="btn" href="{% url 'mutual:descargarDeclaracion' declaracion.pk %}">
                <i class="fa-solid fa-download"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>

  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link small-btn" href="?page=1">&laquo; first</a>
        </li>
        <li class="page-item">
          <a class="page-link small-btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
        </li>
      {% endif %}
  
        
      {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
          <a class="page-link small-btn" href="?page={{ num }}">{{ num }}</a>
        </li>
      {% endfor %}
  
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link small-btn" href="?page={{ page_obj.next_page_number }}">next</a>
        </li>
        <li class="page-item">
          <a class="page-link small-btn" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>

</div>
<script type="text/javascript">
  $('.django-select2').on("change", () => console.log("hola"));
</script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

<script>
  $(function () {
    $("#enc_cliente").select2();
  });
</script>

{% endblock %}
