{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  {% comment %} <link href="{% static 'Libs/css/historico.css' %}" rel="stylesheet" /> {% endcomment %}
{% endblock %}

{% block contenedor %}
  <div class="container">

    <form method="get">
      {% csrf_token %}
      <!-- Personalizar el campo mutual -->
    <div class="mb-3">
    <label for="{{ filter_form.mutual.id_for_label }}" class="form-label">{{ filter_form.mutual.label }}</label>
    {{ filter_form.mutual }}

    <label for="{{ filter_form.periodo.id_for_label }}" class="form-label">{{ filter_form.periodo.label }}</label>
    {{ filter_form.periodo }}

    <button type="submit">Filtrar</button>
    </div>
  </form>


    {% comment %} <h1 class="text-center">{{ titulo }}</h1> {% endcomment %}
    <div class=" table-responsive">

    <table class="table table-sm  table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Mutual</th>
          <th>Detalle Prestamo y/o Reclamo</th>
          <th class="text-center">Leido</th>
          <th>Fecha de subida</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for declaracion in page_obj %}
          <tr>
            <td class="negrita"> {{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td>{{ declaracion.periodo.mes_anio|date:'Y/m' }}</td>
            <td>
              {% for detalle in declaracion.detalles.all %}
                {{ detalle.tipo }} - ${{ detalle.importe }} - {{ detalle.total_registros }} Registros
                <br />
              {% endfor %}
            </td>
            <td class="text-center">
              {% if not declaracion.es_leida %}
                <span class="text-danger">&#10006;</span>
              {% else %}
                <i class="fa fa-check-circle fa-2x " aria-hidden="true"></i>
              {% endif %}
            </td>

            <td>{{ declaracion.fecha_subida|date:"Y/m/d  H:i:s" }}</td>
            <td class="text-end">
              {% if not declaracion.es_leida %}
              <a class="btn btn-warning btn-sm" href="{% url 'mutual:declaracion_jurada' %}">Rectificar</a>
              {% endif %}
              <a class="btn" href="{% url 'mutual:descargarDeclaracion' declaracion.pk %}">
                 <i class="fa-solid fa-download"></i>
                </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link small-btn" href="?page=1">&laquo; first</a>
          </li>
          <li class="page-item">
            <a class="page-link small-btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
          </li>
        {% endif %}
    
          
        {% for num in page_obj.paginator.page_range %}
          <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link small-btn" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endfor %}
    
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link small-btn" href="?page={{ page_obj.next_page_number }}">next</a>
          </li>
          <li class="page-item">
            <a class="page-link small-btn" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}
