{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/dj_declarados_list.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}
<div class="container cuadrado-background">

  <div class="row">
    <form method="get">
      {% csrf_token %}
    <div class="col">
      <label for="{{ filter_form.mutual.id_for_label }}" class="form-label">{{ filter_form.mutual.label }}</label>
      {{ filter_form.mutual }}
    </div>
    <div class="col">
      <label for="{{ filter_form.periodo.id_for_label }}" class="form-label">{{ filter_form.periodo.label }}</label>
      {{ filter_form.periodo }}
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary btn-sm">Filtrar</button>
    </div>
    </form>



  </div>



</div>

<div class="container cuadrado-background">

  <form method="get" class="mb-3 row">
    {% csrf_token %}
    <!-- Personalizar el campo mutual -->
    <div class="col-md-4">
      <label for="{{ filter_form.mutual.id_for_label }}" class="form-label">{{ filter_form.mutual.label }}</label>
      {{ filter_form.mutual }}
    </div>
    <div class="col-md-4">
      <label for="{{ filter_form.periodo.id_for_label }}" class="form-label">{{ filter_form.periodo.label }}</label>
      {{ filter_form.periodo }}
    </div>
    <div class="col-md-4">
      <button type="submit" class="btn btn-primary">Filtrar</button>
    </div>
  </form>

  <div class="row">
    <div class="col-6">
      <form method="post" action="{% url 'mutual:leer_declaracion_jurada' %}">
      {% csrf_token %}
      <div class="form-floating">
        <select class="form-select" id="floatingSelect" name="accion" aria-label="Floating label select example">
          <option selected>------------------</option>
          <option value="1">Marcar como leído</option>
          <option value="2">Marcar como no leído</option>
        </select>
        <label for="floatingSelect">Seleccione la acción a realizar</label>
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Realizar acción</button>
  </div>

    <br>
    <br><br>
    <div class=" table-responsive">
      <table class="table table-sm  table-striped table-hover ">
        <thead>
          <tr>
          <th>#</th>
            <th>Período</th>
            <th>Mutual</th>
            <th class="text-center">Leido</th>
           <th></th>
          </tr>
        </thead>
        <tbody>
          {% for declaracion in page_obj %}
          <tr>
            <td class="negrita"> {{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td> {{ declaracion.periodo }}</td>
            <td> {{ declaracion.mutual }}</td>
            <td class="text-center">
              {% if declaracion.es_leida %}
              <i class="fa-solid fa-check" style="color: #004200;"></i>              
              {% else %}
              <i class="fa-solid fa-x" style="color: #6a0606;"></i>
              {% endif %}
            </td>
            
            <td class="text-center d-flex justify-content-between">
              <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modalDetalle_{{declaracion.pk}}">
                <i class="fa-regular fa-eye"></i> ver
              </button>
              {% include "detalle_declaracion_jurada.html" %}
              <input type="checkbox" name="declaracion_leidos" value="{{ declaracion.pk }}">
              <a class="btn" href="{% url 'mutual:descargarDeclaracion' declaracion.pk %}">
                <i class="fa-solid fa-download"></i>
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      
    </form>
    </div>

    <nav aria-label="...">
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link small-btn" href="?page=1">&laquo; first</a>
          </li>
          <li class="page-item">
            <a class="page-link small-btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
          </li>
        {% endif %}
    
          
        {% for num in page_obj.paginator.page_range %}
          <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link small-btn" href="?page={{ num }}">{{ num }}</a>
          </li>
        {% endfor %}
    
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link small-btn" href="?page={{ page_obj.next_page_number }}">next</a>
          </li>
          <li class="page-item">
            <a class="page-link small-btn" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endblock %}
