<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Confirmación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro que quieres "<span id="nombreAccionSeleccionada"></span>" las declaraciones de las siguientes mutuales?</p>
        
          <ul id="modalDeclaraciones">

            </ul
          >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm btn-detalle" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success btn-sm btn-detalle">Confirmar</button>
        </div>
      </div>
    </div>
  </div>