<div class="modal fade" id="modalMutual_{{mutual.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Datos de Mutual</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
              <form method="post" action="{% url 'mutual:editar_mutual' pk=mutual.id %}">
              {% csrf_token %}
                    

                 <div class="form-group">
                  <label>Nombre:</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp" value="{{mutual.nombre}}">
                </div>
                <div class="form-group">
                  <label>Alias:</label>
                  <input type="text" class="form-control" id="alias" name="alias" aria-describedby="emailHelp" value="{{mutual.alias}}">
                </div>  
                <div class="form-group">
                  <label >Cuit:</label>
                  <input type="number" class="form-control" id="cuit" name="cuit" aria-describedby="emailHelp" value="{{mutual.cuit}}">
                </div>
                </br>
                
                  {% if form.errors.activo or form.errors.inactivo %}
                  <!-- Mostrar un mensaje de error si ninguno de los checkboxes está marcado -->
                      <p>Debes marcar al menos uno de los checkboxes.</p>
                  {% endif %}

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="activo" id="activo" {% if mutual.activo %} checked {% endif %}>
                  <label class="form-check-label" for="flexRadioDefault1">
                     Activo
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="inactivo" id="inactivo" {% if not mutual.activo %} checked {% endif %}>
                  <label class="form-check-label" for="flexRadioDefault2">
                    inactivo
                  </label>
                </div>

             


                {% for detalle in mutual.detalle.all %}
                      {% if detalle.tipo == 'P' %}
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle Préstamo </h1>
                            <small class="form-text text-muted">Si origen o destino posee "*", la mutual no posee Detalle préstamo.</small>
                            </br>
                            <label>Origen:</label>
                            <input type="text" class="form-control" id="origen_p" name="origen_p" aria-describedby="emailHelp" value="{{detalle.origen}}">
                            
                            <label>Destino:</label>
                            <input type="text" class="form-control" id="destino_p" name="destino_p" aria-describedby="emailHelp" value="{{detalle.destino}}">
                            <label>Concepto 1:</label>
                            <input type="number" class="form-control" id="concep1_p" name="concep1_p"  value="{{detalle.concepto_1}}">
                            <label>Concepto 2:</label>
                            <input type="number" class="form-control" id="concep2_p" name="concep2_p"  value="{{detalle.concepto_2}}">
                      {% else %}                      
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle Reclamo </h1>
                            <small class="form-text text-muted">Si origen o destino posee "*", la mutual no posee Detalle Reclamo.</small>
                            </hr>
                            <label>Origen:</label>
                            <input type="text" class="form-control" id="origen_r" name="origen_r" aria-describedby="emailHelp" value="{{detalle.origen}}">
                            <label>Destino:</label>
                            <input type="text" class="form-control" id="destino_r" name="destino_r" aria-describedby="emailHelp" value="{{detalle.destino}}">
                            <label>Concepto 1:</label>
                            <input type="number" class="form-control" id="concep1_r" name="concep1_r"  value="{{detalle.concepto_1}}">
                            <label>Concepto 2:</label>
                            <input type="number" class="form-control" id="concep2_r" name="concep2_r" aria-describedby="emailHelp" value="{{detalle.concepto_2}}">
                     {% endif %}
                      
                      
            
              {% endfor %}
               

              <div class="modal-footer">
          <button type="submit" class="btn btn-outline-success mb-2">Actualizar informacion</button>
        </div>
          </form>
          
        </div>
        
      </div>
    </div>
  </div>
  
             <script>
                  // Obtener todos los radios con el atributo name "grupo1"
                  var radios1 = document.querySelectorAll('input[name="activo"]');
                  var radios2 = document.querySelectorAll('input[name="inactivo"]');
                  // Agregar evento de clic a cada radio del grupo 1
                  radios1.forEach(function(radio) {
                      radio.addEventListener('click', function() {
                          // Deseleccionar todos los radios del grupo 1, excepto el que se ha seleccionado
                          radios2.forEach(function(radio) {
                            radio.checked = false;
                        });
                          this.checked = true;
                      });
                  });

                  radios2.forEach(function(radio) {
                      radio.addEventListener('click', function() {
                          // Deseleccionar todos los radios del grupo 1, excepto el que se ha seleccionado
                          radios1.forEach(function(radio) {
                            radio.checked = false;
                        });
                          this.checked = true;
                      });
                  });


              </script>