<div class="modal fade" id="modalMutual_{{mutual.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Datos de Mutual</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
              <form method="post" action="{% url 'mutual:editar_mutual' pk=mutual.id %}">
              {% csrf_token %}
                    

                 <div class="form-group">
                  <label>Nombre:</label>
                  <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp" value="{{mutual.nombre}}">
                </div>  
                <div class="form-group">
                  <label >Cuit:</label>
                  <input type="number" class="form-control" id="cuit" name="cuit" aria-describedby="emailHelp" value="{{mutual.cuit}}">
                </div>
                </br>
                
                  {% if form.errors.activo or form.errors.inactivo %}
                  <!-- Mostrar un mensaje de error si ninguno de los checkboxes está marcado -->
                      <p>Debes marcar al menos uno de los checkboxes.</p>
                  {% endif %}

                <div class="form-check">
                <label class="form-check-label" for="exampleCheck1">Activo</label>
                  <input type="checkbox" 
                  class="form-check-input"
                   id="activo" 
                   name="activo" 
                  
                   {% if mutual.activo %} checked {% endif %}
                   >
                </div>

                <div class="form-check">
                <label class="form-check-label" for="exampleCheck1">Inactivo</label>
                  <input type="checkbox" 
                  name="inactivo"
                  id="inactivo" 
                  class="form-check-input" 
                  id="activo"  name="activo"
                  {% if not mutual.activo %} checked {% endif %}>
                  
                </div>

                {% for detalle in mutual.detalle.all %}
                      {% if detalle.tipo == 'P' %}
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle Prestamo </h1>
                         
                            <label>Origen:</label>
                            <input type="text" class="form-control" id="origen_p" name="origen_p" aria-describedby="emailHelp" value="{{detalle.origen}}">
                            <label>Destino:</label>
                            <input type="text" class="form-control" id="detalle_p" name="detalle_p" aria-describedby="emailHelp" value="{{detalle.destino}}">
                            <label>Concepto 1:</label>
                            <input type="text" class="form-control" id="concep1_p" name="concep1_p" aria-describedby="emailHelp" value="{{detalle.concepto_1}}">
                            <label>Concepto 2:</label>
                            <input type="text" class="form-control" id="concep2_p" name="concep2_p" aria-describedby="emailHelp" value="{{detalle.concepto_2}}">
                      {% else %}                      
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle Reclamo </h1>
                            <label>Origen:</label>
                            <input type="text" class="form-control" id="origen_r" name="origen_r" aria-describedby="emailHelp" value="{{detalle.origen}}">
                            <label>Destino:</label>
                            <input type="text" class="form-control" id="detalle_r" name="detalle_r" aria-describedby="emailHelp" value="{{detalle.destino}}">
                            <label>Concepto 1:</label>
                            <input type="text" class="form-control" id="concep1_r" name="concep1_r" aria-describedby="emailHelp" value="{{detalle.concepto_1}}">
                            <label>Concepto 2:</label>
                            <input type="text" class="form-control" id="concep2_r" name="concep2_r" aria-describedby="emailHelp" value="{{detalle.concepto_2}}">
                     {% endif %}
                      
                      
            
              {% endfor %}
               

              <div class="modal-footer">
          <button type="submit" class="btn btn-primary mb-2">Actualizar informacion</button>
        </div>
          </form>
          
        </div>
        
      </div>
    </div>
  </div>
  