{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}
  {% comment %}Preguinto si ya existe un prestamo previamente{% endcomment %}
  {% comment %} {% if existe_prestamo %}
    {% if prestamo_leido %}
      <p> Y ESE PRESTAMO HA SIDO LEIDO</p>
    {% endif %}
  {% endif %}
   {% endcomment %}

  <div class="container cuadrado-background">
    <h1 class="text-center titulo">{{ titulo }}</h1>
    <p>
      <strong>Préstamo:</strong>
      {% comment %} {{ dj.mutual.nombre }} {% endcomment %}
    </p>

    {% comment %} <p>
      <strong>Periodo a declarar:</strong>
      {{ periodo }}
    </p>
     {% endcomment %}
    {% comment %} <form method="post" enctype="multipart/form-data" id="declaracionForm">
      {% csrf_token %} {% endcomment %}

      
      <div class="mb-3">
          <h5> Préstamo</h5>
          <p>{{ dj_r.id }} </p>
          
        </div>
  
      {% comment %} <div class="mb-3">
          <h5>Reclamo</h5>
          <input class="form-control" type="file" name="{{ dj.archivo_r.name }}" id="{{ dj.archivo_r.id_for_label }}" />
        </div>
  
      <br />
      <div class="text-center"> 
          <button type="submit" class="btn btn-success" id="declararBtn" disabled>Cargar Declaracion</button>
      </div>
  </form> {% endcomment %}
  </div>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
  {% comment %} <script>
    // Activar el botón cuando se carguen ambos archivos
// Activar el botón cuando se carguen ambos archivos
$(document).ready(function() {
  $('#{{ form.archivo_p.id_for_label }}').on('change', function() {
      var archivoP = $(this);
      var archivoR = $('#{{ form.archivo_r.id_for_label }}');
      var declararBtn = $('#declararBtn');

      if (archivoP.val() || archivoR.val()) {
          declararBtn.prop('disabled', false);
      } else {
          declararBtn.prop('disabled', true);
      }
  });

  $('#{{ form.archivo_r.id_for_label }}').on('change', function() {
      var archivoP = $('#{{ form.archivo_p.id_for_label }}');
      var archivoR = $(this);
      var declararBtn = $('#declararBtn');

      if (archivoP.val() || archivoR.val()) {
          declararBtn.prop('disabled', false);
      } else {
          declararBtn.prop('disabled', true);
      }
  });
});

$(document).getElementById('verificarBoton').on('click, ') {% endcomment %}

  </script>
  {% endblock %}
