{% extends 'dashboard.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}
  <div class="container cuadrado-background-a">
    <h2 class="text-center">{{ titulo }}</h2>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
        
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detallePrestamoModal">Det. Prést.</button>
          </div>

          <div class="col">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#detalleReclamoModal">Det. Recl.</button>
          </div>
        </div>
        
        <br />
        <button type="submit" class="btn btn-success">Crear Mutual</button>
      
      </div>
    </form>
    <div />
  </div>
  
  {% include "modal_detalle_prestamo.html" %}
  {% include "modal_detalle_reclamo.html" %}

  {% endblock %}
