{% extends 'dashboardEmpleadoPublico.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/historico.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}
<div class="container cuadrado-background ">
  <h3 class="text-center titulo">{{ titulo }}</h3>

  <form method="get" class="mb-7">
    {% csrf_token %}
    <div class="container">
      <hr>
      <div class="row">
        {% comment %} <div class="col d-flex align-items-center"> {% endcomment %}
          <div class="col">

          <select name="enc_mutual" id="enc_mutual" class="form-control">
            <option value="">Todas las mutuales</option>
          </select>
          
        </div>

        {% comment %} <div class="col"> {% endcomment %}
          {% comment %} {{ filter_form.mutuales }} {% endcomment %}
        {% comment %} </div>        {% endcomment %}
         
        <div class="col">
          {{ filter_form.cuit }}
        </div>

        <div class="col">
          {{ filter_form.concepto }}
        </div>
        <div class="col">
          {{ filter_form.estado }}
        </div>


        
        <div class="col text-end">
          <button type="submit" class="btn btn-sm btn-primary btn-circle">
          <i class="fa-solid fa-filter"></i>
        </button>
      </div>
    </div>
    <hr>
  </form>

  <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Alias</th>
            <th>Cuit</th>
            <th>Nombre</th>
            <th class="text-center">Estado</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          {% for mutual in page_obj %}
          <tr>
            <td class="negrita"> {{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td>{{ mutual.alias|truncatechars:25  }}</td>
            <td>{{ mutual.cuit }}</td>
            <td  style="width: auto;"> {{ mutual.nombre|truncatechars:40 }} </td>
            {% comment %} <td >{{ mutual.nombre }}</td> {% endcomment %}
            <td class="text-center">
              {% if  mutual.activo %}
              <i class="fa-solid fa-building-circle-check" style="color: #306b00;"></i>
              {% else %}
              <i class="fa-solid fa-building-circle-xmark" style="color: #7a0000;"></i>
              {% endif %}
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalDetalle_{{mutual.pk}}">
                <i class="fa-solid fa-building-circle-exclamation"></i>
                Detalle
              </button>
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalMutual_{{mutual.pk}}">
                <i class="fa-solid fa-pen-to-square"></i>
                Editar
              </button>
            </td>
          </tr>
          {% include "modal_detalle_declaracion_jurada.html" %}
          {% include "modal_detalle_mutual.html" %}


          {% endfor %}
        </tbody>
      </table>
      <hr>
      {% include "pagination_listado.html" %}
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $("#enc_mutual").select2({
            minimumInputLength: 1, // Número mínimo de caracteres para iniciar la búsqueda
            ajax: {
                url: "/buscar_mutuales/", // URL del endpoint de búsqueda en el servidor
                dataType: 'json',
                delay: 250, // Retraso en milisegundos antes de enviar la solicitud AJAX
                data: function(params) {
                    return {
                        q: params.term // El término de búsqueda proporcionado por el usuario
                    };
                },
                processResults: function(data) {
                    return {
                        results: data // Los resultados devueltos por el servidor
                    };
                },
                cache: true
            }
        });
    });
</script>



{% endblock %}
