{% extends 'dashboardEmpleadoPublico.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/historico.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}

<div class="container cuadrado-background animate__animated animate__fadeIn">
  <h3 class="text-center titulo">{{ titulo }}</h3>

  <form id="miFormulario" method="get" class="mb-7">
    {% csrf_token %}
    <div class="container">
      <hr>
      <div class="row">
        <div class="col ">
            {{ filter_form.alias }}
        </div>
        <div class="col">
          {{ filter_form.cuit }}
        </div>

        <div class="col">
          {{ filter_form.concepto }}
        </div>
        <div class="col">
          {{ filter_form.estado }}
        </div>
        <div class="col">

          <button type="submit" class="btn btn-sm btn-primary btn-circle">
          <i class="fa-solid fa-filter"></i>
        </button>
      </div>
    </div>
    <hr>
  </form>

  <div class="table-responsive">
      <table class="table ">
        <thead>
          <tr>
            <th>#</th>
            <th>Alias</th>
            <th>Cuit</th>
            <th>Nombre</th>
            <th class="text-center">Estado</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          {% for mutual in page_obj %}
          <tr>
            <td class="negrita"> {{ page_obj.start_index|add:forloop.counter0 }}</td>
            <td>{{ mutual.alias|truncatechars:25  }}</td>
            <td>{{ mutual.cuit }}</td>
            <td  style="width: auto;"> {{ mutual.nombre|truncatechars:40 }} </td>
            {% comment %} <td >{{ mutual.nombre }}</td> {% endcomment %}
            <td class="text-center">
              {% if  mutual.activo %}
              <i class="fa-solid fa-building-circle-check" style="color: #306b00;"></i>
              {% else %}
              <i class="fa-solid fa-building-circle-xmark" style="color: #7a0000;"></i>
              {% endif %}
            </td>
            <td class="text-center">
              <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalDetalle_{{mutual.pk}}">
                <i class="fa-solid fa-building-circle-exclamation"></i>
                Detalle
              </button>
              <button type="button" class="btn btn-sm btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalMutual_{{mutual.pk}}">
                <i class="fa-solid fa-pen-to-square"></i>
                Editar
              </button>
              <a class="btn btn-sm btn-outline-success" href="{% url 'reportes:reporte_mutual_declaraciones' mutual.pk %}" onclick="window.open(this.href, '_blank', 'width=800,height=600'); return false;">
                <i class="fa-solid fa-chart-simple"></i>
                Reporte
              </a>
            
            </td>
          </tr>
          {% include "modal_detalle_declaracion_jurada.html" %}
          {% include "modal_detalle_mutual.html" %}


          {% endfor %}
        </tbody>
      </table>
      <hr>
      
      {% include "pagination_listado.html" %}
    </div>
</div>

<link href="{% static 'selectable/css/dj.selectable.css' %}" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="{% static 'Libs/js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Libs/js/jquery-iu.js' %}"></script>
<script type="text/javascript" src="{% static 'selectable/js/jquery.dj.selectable.js' %}"></script>

{% endblock %}
