{% extends 'dashboardEmpleadoPublico.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}


{% block contenedor %}
  <div class="container cuadrado-background">
    <h2 class="text-center titulo">{{ titulo }}</h2>
    <form method="post" autocomplete="off">
      {% csrf_token %}
      <div class="form-group">
        {{ form.as_p }}
        
        <div class="row">
          <div class="col text-start">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#detallePrestamoModal">Detalle Préstamo.</button>
          </div>
          
          <div class="col text-end" >
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#detalleReclamoModal">Detalle Reclamo</button>
          </div>
        </div>
        
        <br />
        
        <div align="center" class="col">
          <button type="submit" class="btn btn-success">Crear</button>
        </div>
      </div>
      {% include "modal_detalle_prestamo.html" %}
       {% include "modal_detalle_reclamo.html" %}
    </form>
    <div />
</div>


  {% endblock %}

  
