{% extends 'dashboardEmpleadoPublico.html' %}

{% load static %}


{% block contenedor %}

<style>
    .cuadrado-background{
        width: 25%;
    }
</style> 

<div class="container cuadrado-background animate__animated animate__fadeIn">
    {% if habilitado %}
    <h2 class="text-center titulo">{{ titulo }}</h2>
    <br />
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_fecha_inicio" class="negrita">Inicio del periodo:</label>
            <input type="date" id="{{ form.fecha_inicio.id_for_label }}" name="{{ form.fecha_inicio.name }}" required class="form-control" value="{{ form.fecha_inicio.value|default:'' }}" min="{{ current_date }}" />
            
            <small class="error-text" style="color: red;">{{ form.fecha_inicio.errors }}</small>
            <small class="form-text text-muted">{{ form.fecha_inicio.help_text }}</small>

        </div>
        <br />
        <div class="text-center"> <!-- Centra el botón horizontalmente -->
            <button type="submit" class="btn btn-success">Crear</button>
        </div>
    </form>
    {% else %}
        <h4 class="text-center titulo">{{ titulo }}</h4>
    {% endif %}
</div>

{% endblock %}
