{% extends 'base.html' %}


{% block content %}
    
<!-- tu_template.html -->
<div class="container">
<table id="tabla-datos" class="display">
  <thead>
      <tr>
          <th>Columna 1</th>
          <th>Columna 2</th>
          <!-- Agrega más columnas según sea necesario -->
      </tr>
  </thead>
  <tbody>
      {% for item in data %}
          <tr>
              <td>{{ item.id }}</td>
              <td>{{ item.nombre}}</td>
              <!-- Agrezga más columnas según sea necesario -->
          </tr>
      {% endfor %}
  </tbody>
</table>
</div>
<script>
  $(document).ready( function () {
      $('#tabla-datos').DataTable();
  });
</script>




  
{% endblock %}