{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
  <style>
    {% comment %} .detalle {
        list-style: none;
        padding: 0;
    }

    .detalle li strong {
        display: inline-block;
        width: 140px; /* Ajusta el ancho según sea necesario */
    } {% endcomment %}

</style>
{% endblock %}

{% block contenedor %}
  

</head>
<body>
  <div class="container cuadrado-background" align="center">
    <h4 class="card-title">Errores detectados</h4>
  </br>
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Prestamo</h5>
            <p class="card-text">Cantidad de Errores: {{cantErrorPrestamo}}</p>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalPrestamo">Det. Prést.</button>
          </div>
        </div>
      </br>
    </br>
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Reclamo</h5>
            <p class="card-text">Cantidad Errores: {{cantErrorReclamo}} </p>
            <a href="#" class="btn btn-danger">Go somewhere</a>
          </div>
        </div>
          
        </div>
  </div>

  

  <div class="modal fade" id="modalPrestamo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detalleReclamo">Errores en el archivo Prestamo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div style="height: 300px; overflow-y: auto;">
          {% for item in erroresPrestamo %}
          <tr>
            
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              <td>{{ item }}</td>
              
            </div>
    
              <div class="modal-footer">
                <!-- Botón para descargar el contenido del modal -->
                <button id="downloadButton" type="button" class="btn btn-secondary">Descargar</button>
              </div>
              <!-- Agrezga más columnas según sea necesario -->
          </tr>
      {% endfor %}
        </div>
  </div>  





</body>
        {% comment %} <h1 align= "center">Errores detectados</h1>
        <h2>Prestamo</h2>
        <h6>Cantidad de Errores: {{cantErrorPrestamo}}</h6>
        {% for item in erroresPrestamo %}
        <tr>
            <td>{{ item }}</td>
            <!-- Agrezga más columnas según sea necesario -->
        </tr>
    {% endfor %}

    <h2>Reclamo</h2>
        <h6>Cantidad de Errores: {{cantErrorReclamo}}</h6>
        {% for item in erroresReclamo %}
        <tr>
            <td>{{ item }}</td>
            <!-- Agrezga más columnas según sea necesario -->
        </tr>
    {% endfor %}
      </div> {% endcomment %}

 
 
  
{% endblock %}
