{% extends 'dashboardCliente.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}

{% block contenedor %}

<div class="container cuadrado-background" style="width: 40rem;">
  <h4> {{titulo}}</h4>
  <div class="text-center">
    {% if erroresPrestamo %}
      <hr>
      <h5>Prestamo</h5>
      <p>Cantidad de Errores: {{ cantErrorPrestamo }}</p>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalPrestamo">Visualizar errores</button>
    {% endif %}
      
    {% if erroresReclamo %}
      <hr>
      <h5>Reclamo</h5>
      <p>Cantidad Errores: {{ cantErrorReclamo }}</p>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalReclamo"> Visualizar Errores </button>
    {% endif %}
    </div>

    {% include "modal_errores_prestamo.html" %}
    {% include "modal_errores_reclamo.html" %}
</div>

<script>
 var mutual = "{{mutual}}";
 function descargarContenido(tipo) {
    // Suponiendo que tu contenido está en una variable llamada 'contenido'
   var reclamo;
   if(tipo == "reclamo") {
    reclamo = "soy reclamo";
   }
    cabecera = "Mutual: "+ mutual +"\n" + "Tipo Archivo: " + tipo + "\n \n";
   

    if(tipo == "reclamo") {
    
    var contenido = document.getElementById('bodyReclamo').innerText;
   }else{
    var contenido = document.getElementById('bodyPrestamo').innerText;
   }
    
    // Crear un Blob con el contenido
    var blob = new Blob([cabecera+contenido], {type: "text/plain;charset=utf-8"});
    // Crear una URL para el Blob
    var url = window.URL.createObjectURL(blob);
    // Crear un enlace temporal y descargar el archivo
    var tempLink = document.createElement('a');
    tempLink.href = url;
    tempLink.setAttribute('download','Errores_'+tipo+'_'+mutual+'.txt');
    tempLink.click();
    window.URL.revokeObjectURL(url);
}
 </script> 

{% endblock %}
