{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'Libs/css/dashboard.css' %}" rel="stylesheet" />
  {% block extra_css_nivel %}

  {% endblock %}
{% endblock %}


{% block content %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
        <img src="{% static 'images/escudo.ico' %}" alt="Logo" width="23" height="25" class="d-inline-block align-text-top" />
        DGC
      </a>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
</nav>

<div style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 60px);">
  <div class="container cuadrado-background">
    <h4 class="text-center">Cambio de contraseña</h4>
  
    <form method="post" autocomplete="off">
      {% csrf_token %}
      {{form.as_p}}
      <br />
      <div class="text-center">
        
        <a  href="{% url 'dashboard' %}" class="btn btn-secondary"> 
          <i class="fa-solid fa-house fa"></i>
          Pagina principal
        </a>
        <a  href="{% url 'users:usuarios_listado' %}" class="btn btn-primary"> 
          <i class="fa-solid fa-list"></i>
          Volver al listado
        </a>
        <button type="submit" class="btn btn-success"><i class="fa-solid fa-check"></i> Cambiar contraseña</button>
      </div>
    </form>
  </div>
</div>

    <script>
  function togglePassword_one() {
    var passwordInput = document.querySelector(".password-input");
    var passwordIcon = document.getElementById("password-icon");
  
    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      passwordIcon.className = "fa-solid fa-eye-slash";
    } else {
      passwordInput.type = "password";
      passwordIcon.className = "fa-solid fa-eye";
    }
  }

  function togglePassword_two() {
    var passwordInput = document.querySelector(".password-input-two");
    var passwordIcon = document.getElementById("password-icon_two");

    if (passwordInput.type === "password") {
      passwordInput.type = "text";
      passwordIcon.className = "fa-solid fa-eye-slash";
    } else {
      passwordInput.type = "password";
      passwordIcon.className = "fa-solid fa-eye";
    }
  }
</script>
{% endblock %}
