<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar Contraseña</title>
</head>
<body>
    <h1>Cambiar Contraseña</h1>
    <form method="post" action="{% url 'cambiar_password' user.id %}">
        {% csrf_token %}
        <label for="nueva_password">Nueva Contraseña:</label>
        <input type="password" id="nueva_password" name="nueva_password" required><br><br>
        <input type="submit" value="Cambiar Contraseña">
    </form>
</body>
</html>
