{% extends 'dashboardAdministrador.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/historico.css' %}" rel="stylesheet" />
{% endblock %}


{% block contenedor %}
<div class=" container cuadrado-background">
  <h3 class="text-center titulo">{{ titulo }}</h3>
  <hr>

  <form method="get">
    {% csrf_token %}
    <div class="container">
      <div class="row">
        <div class="col">
            {{ filter_form.username }}
        </div>
        <div class="col">
          {{ filter_form.is_active }}
        </div>

        <div class="col">
          <button type="submit" class="btn btn-sm btn-primary btn-circle">
          <i class="fa-solid fa-filter"></i>
        </button>
      </div>
    </div>
    <hr>
  </form>


  <div class=" table-responsive">
    <table class="table table-sm  table-striped table-hover ">
      <thead>
        <tr>
          <th >#</th>
          <th>Username</th>
          <th>Email</th>
          <th>Ultima conexion</th>
          <th class="text-center">Estado</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        {% for user in object_list %}
        <tr>
            <td class="negrita">{{ forloop.counter }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.date_joined }}</td>
            
            <td class="text-center">
              {% if user.is_active %} 
                <i class="fa-solid fa-circle-check" style="color: #306b00;"></i> 
              {% else %}
                <i class="fa-solid fa-circle-xmark" style="color: #7a0000;"></i> 
              {% endif %}
              </td>
      
            <td>
                <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalpass_{{user.pk}}">
                     <i class="fa-solid fa-lock"></i>
                    Cambiar contraseña
                  </a>
            </td>
            
            <td> 
                 {% if not user.is_active %}  
                 <a class="btn btn-sm " data-bs-toggle="modal" data-bs-target="#cambiarEstado_{{user.pk}}">
                      <i class="fa-regular fa-circle-up" style="color: #1dc93f;"></i>
                    Dar de Alta
                  </a>
                  {% else %}
                  <a class="btn btn-sm " data-bs-toggle="modal" data-bs-target="#cambiarEstado_{{user.pk}}">
                      <i class="fa-regular fa-circle-down" style="color: #ea1a1a;"></i>
                    Dar de Baja
                  </a>
                {% endif %}
            </td>




        </tr>
        {% include "modal_cambiar_contrasenia.html" %}
        {% include "modal_cambiar_estado_user.html" %}
        {% endfor %}
        

      </tbody>
    </table>
    {% include "pagination_listado.html" %}
  </div>
  <link href="{% static 'selectable/css/dj.selectable.css' %}" type="text/css" media="all" rel="stylesheet">
  <script type="text/javascript" src="{% static 'Libs/js/jquery-1.11.2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'Libs/js/jquery-iu.js' %}"></script>
  <script type="text/javascript" src="{% static 'selectable/js/jquery.dj.selectable.js' %}"></script>

{% endblock %}
