{% extends 'dashboardAdministrador.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/historico.css' %}" rel="stylesheet" />
{% endblock %}


{% block contenedor %}
<div class=" container cuadrado-background">
  <h3 class="text-center titulo">{{ titulo }}</h3>
  <hr>

  <div class=" table-responsive">
    <table class="table table-sm  table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Email</th>
          <th>Ultima conexion</th>
          <th>Estado</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in object_list %}
        <tr>
            <td class="negrita">{{ forloop.counter }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.date_joined }}</td>
            
            <td>{% if user.is_active %} <i class="fa-solid fa-circle-check" style="color: #17bc01;"></i> Activo {% else %} <i class="fa-solid fa-circle-xmark" style="color: #d20f0f;"></i> Inactivo {% endif %}</td>
      
            <td>
                <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalpass_{{user.pk}}">
                     <i class="fa-solid fa-lock"></i>
                    Cambiar contraseña
                  </a>
            </td>
            
            <td> 
                 {% if not user.is_active %}  
                 <a class="btn btn-sm " data-bs-toggle="modal" data-bs-target="#cambiarEstado_{{user.pk}}">
                      <i class="fa-regular fa-circle-up" style="color: #1dc93f;"></i>
                    Dar de Alta
                  </a>
                  {% else %}
                  <a class="btn btn-sm " data-bs-toggle="modal" data-bs-target="#cambiarEstado_{{user.pk}}">
                      <i class="fa-regular fa-circle-down" style="color: #ea1a1a;"></i>
                    Dar de Baja
                  </a>
                {% endif %}
            </td>




        </tr>
        {% include "modal_cambiar_contrasenia.html" %}
        {% include "modal_cambiar_estado_user.html" %}
        {% endfor %}
        

      </tbody>
    </table>
  </div>

{% endblock %}
