{% extends 'dashboardAdministrador.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}


{% block contenedor %}
<div class="container cuadrado-background">
  <h2 class="text-center">{{ titulo }}</h2>
  <div class="d-grid  mx-auto">
  <br>
  <button onclick="window.location.href={% url 'users:register_U_M' %}" class="btn btn-outline-primary btn-lg" type="button">
    <i class="fa-solid fa-building-user"></i>
    Usuario Mutual
  </button>
  
  <br>
  <button onclick="window.location.href={% url 'users:register_E_P' %}"class="btn btn-outline-primary btn-lg" type="button">
    <i class="fa-regular fa-user"></i>
    Usuario Empleado
  </button>
  
  <br>
  <button onclick="window.location.href={% url 'users:register_A' %}" class="btn btn-outline-primary btn-lg" type="button">
    <i class="fa-solid fa-user-shield"></i>
        Usuario Administrador
  </button>
  <br>
</div>

<div/>

{% endblock %}

  
