<div class="modal fade" id="cambiarEstado_{{user.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Cambio de Estado, usuario: {{user.username}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
               <form id="form{{user.pk}}" method="post" action="{% url 'users:cambiar_estado' pk=user.id %}">
              {% csrf_token %}
              {% if user.is_active %}
              <h6>¿Estas seguro que deseas Dar de baja el usuario: {{user.username}} ?</h6>
              {% else %}           
               <h6>¿Estas seguro que deseas Dar de Alta el usuario: {{user.username}} ?</h6>
              {% endif %}
              
            <div class="modal-footer">
             <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
             <button type="submit" class="btn btn-success">Confirmar</button>
          </a>
            </div>

            </form>
    </div>   
          

        </div>
        
      </div>
    </div>
  </div>


  
            