{% extends 'dashboard.html' %}

{% block title %}
  Registro Usuarios | DGC
{% endblock %} 

{% block extra_css_nivel %}
  {% load static %}
  
{% endblock %}



{% block contenedor %}
<div class="container cuadrado-background">
  <h2 class="text-center">{{ titulo }}</h2>
  <form method="post" autocomplete="off">
    {% csrf_token %}

{% comment %}     
    <label for="{{ form.username.id_for_label }}">Usuario:</label>
    <input type="text" id="{{ form.username.id_for_label }}" name="{{ form.username.name }}" class="form-control" required>


    <br>
    
    <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
    <input type="text" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" class="form-control"  required>

    <br>
    
    
    
    <label for="{{ form.password1.id_for_label }}">Contraseña:</label>
    {{ form.password1 }}
    <br>
    
    <label for="{{ form.password2.id_for_label }}">Confirmar contraseña:</label>
    {{ form.password2 }}
    <br>
    
    
    <h1>antiguo form</h1> {% endcomment %}
    {{form.as_p}}
    
    {% comment %} <label for="{{ form.mutual.id_for_label }}">Mutual:</label>
    {{ form.mutual }}
    <br> {% endcomment %}
    
    <button type="submit">Registrar</button>
  </form>

</div>

{% endblock %}
