{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'Libs/css/dashboard.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

  {% if rol.persona.es_cliente %}
  {% comment %} {% include 'navbarEmpleadoPublico.html' %}
  {% include 'navbarCliente.html' %} {% endcomment %}
  {% endif %}

  {% block extra_css_nivel %}
  {% endblock %}
  {% block contenedor %}
    <div>
      <h1>¡Bienvenido {{ user }}!</h1>
      <h1>¡Bienvenido {{ rol.persona.id }}!</h1>
      <h5>Mutual asociada: {{ rol.cliente.mutual }}</h5>
      <h5>Ultima conexión: {{ ultimaConexion }}</h5>
    </div>
  {% endblock %}

{% endblock %}

