{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'dashboard' %}">
        <img src="{% static 'images/escudo.ico' %}" alt="Logo" width="23" height="25" class="d-inline-block align-text-top" />
        DGC
      </a>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mutual</a>
          <ul class="dropdown-menu ">
            {% block opcion_mutual %}

            {% endblock %}
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Declaración Jurada</a>
          <ul class="dropdown-menu">
            {% block opcion_declaracion_jurada %}

            {% endblock %}
          </ul>
        </li>
        {% block dropdown_adicional %}
        {% endblock %}


      </ul>
      <!-- Botón collapsable alineado a la derecha -->
      <div class="btn-group">
        <button type="button" class="btn  dropdown-toggle btn-outline-dark" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
          <span class="bi bi-person"></span>
          <i class="fa-regular fa-user"></i> Hola, {{ user }}
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
          <li>
             <a class="dropdown-item" href="{% url 'users:cambiar_password' %}">
             <i class="fa fa-key" aria-hidden="true"></i>
              Cambiar contraseña </a>
          </li>
            <a class="dropdown-item" href="{% url 'users:cerrar_session' %}">
              <i class="fa-solid fa-lock"></i>
              Cerrar Sesión</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>

{% include 'message.html' %}
