{% extends 'dashboardEmpleadoPublico.html' %}
{% load static %}

{% block extra_css_nivel %}
  <link href="{% static 'Libs/css/mutual_alta.css' %}" rel="stylesheet" />
{% endblock %}


{% block contenedor %}
  
  <div class="container cuadrado-background animate__animated animate__fadeIn">
  <h2 class="text-center titulo">GENERACION DE REPORTE</h2>
  </br>
    
    <form method="post">
    {% csrf_token %}
    <div class="form-group">
      {{ periodos.as_p }}
      <button align="center" type="submit" class="btn">
      <i class="fa-solid fa-file-excel fa-2xl" style="color: #1d6f42;"></i>
      Generar
      </button>
        
    </div>
  </form>
  </div>

{% endblock %}