{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
  <link href="{% static 'Libs/css/dashboard.css' %}" rel="stylesheet" />
  {% block extra_css_nivel %}

  {% endblock %}
{% endblock %}

{% block content %}
  

  {% include 'navbarEmpleadoPublico.html' %}

  
  
  <div style="display: flex; justify-content: center; align-items: center; min-height: calc(100vh - 60px);">
    {% block contenedor %}
      <div class="cuadrado-background animate__animated animate__fadeIn">
        <h1 class="text-center titulo">¡Bienvenido {{ user }}!</h1>


        <div class="row">
          <div class="col-md-4 col-sm-12">
            <h5>Ultima conexión:</h5>
          </div>
          <div class="col-md-8 col-sm-12">
            <h5 class="negrita">{{ ultimaConexion }}</h5>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
     
{% endblock %}
