asgiref==3.7.2
cffi==1.16.0
Django==4.1.1
django-appconf==1.0.6
django-select2==8.1.2
h3==3.7.6
numpy==1.26.4
pillow==10.2.0
psycopg2==2.9.3
pycparser==2.21
python-decouple==3.8
reportlab==3.5.67
sqlparse==0.4.4
timezonefinder==6.2.0
typing_extensions==4.10.0
tzdata==2024.1
